https://github.com/nekitdev/gd.py/archive/master.zip#egg=gd.py[image,speedups]
https://github.com/nekitdev/nekit.site/archive/master.zip#egg=nekit.site
https://github.com/nekitdev/gd.bot/archive/master.zip#egg=gd.bot
