Cython>=0.29.20
-e git+https://github.com/NeKitDS/gd.py.git#egg=gd.py[dev]
-e git+https://github.com/NeKitDS/nekit.site.git#egg=nekit.site
-e git+https://github.com/NeKitDS/gd.bot.git#egg=gd.bot
-e git+https://github.com/NeKitDS/gd.graph.git#egg=gd.graph
-e git+https://github.com/3b1b/manim.git#egg=manimlib
